<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="crust">Crust</label>
    <input
      class="form-control"
      id="crust"
      type="text"
      formControlName="crust"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="flavor">Flavor</label>
    <input
      class="form-control"
      id="flavor"
      type="text"
      formControlName="flavor"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="size">Size</label>
    <input class="form-control" id="size" type="text" formControlName="size" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="tableNumber">Table Number</label>
    <input
      class="form-control"
      id="tableNumber"
      type="text"
      formControlName="tableNumber"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!orderForm.valid">
    Order Your Pizza
  </button>
  <p *ngIf="isOrderCreationFailed">Could not create order. Please try again.</p>
  <p *ngIf="isLoading">Loading...</p>
</form>
