<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" style="width: 400px">
  <div class="mb-3">
    <label class="form-label" for="crust">Crust</label>
    <select class="form-select" formControlName="crust" id="crust">
      <option *ngFor="let c of pizzaConfiguration.crustTypes" [value]="c.id">
        {{ c.value }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="flavor">Flavor</label>
    <select class="form-select" formControlName="flavor" id="flavor">
      <option *ngFor="let f of pizzaConfiguration.flavors" [value]="f.id">
        {{ f.value }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="size">Size</label>
    <select class="form-select" formControlName="size" id="size">
      <option *ngFor="let s of pizzaConfiguration.sizes" [value]="s.id">
        {{ s.value }}
      </option>
    </select>
  </div>
  <div class="mb-4">
    <label class="form-label" for="tableNumber">Table Number</label>
    <input
      class="form-control"
      id="tableNumber"
      type="number"
      formControlName="tableNumber"
    />
  </div>

  <button
    *ngIf="!isLoading"
    type="submit"
    class="btn btn-primary"
    [disabled]="!orderForm.valid"
  >
    Order Your Pizza
  </button>
  <p *ngIf="isOrderCreationFailed">Could not create order. Please try again.</p>
  <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</form>
