<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
    routerLink="/"
    >Pizza</a
  >
  <ul class="nav nav-pills">
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/orders">Orders</a>
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
    <li *ngIf="isLoggedIn" class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
  </ul>
</header>
