<div *ngIf="isLoading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="!isLoading" style="width: 500px">
  <div class="mb-3">
    <label for="filter" class="form-label">Filter orders</label>
    <input
      type="text"
      class="form-control"
      id="filter"
      (keyup)="filterOrders()"
      [formControl]="filter"
    />
  </div>
  <div class="mb-4">
    <ul *ngIf="filter.value.length < 3" class="list-group">
      <li
        *ngFor="let order of orders"
        class="list-group-item d-flex justify-content-between"
      >
        {{ order.flavor }}
        <button type="button" (click)="delete(order)">Cancel Order</button>
      </li>
    </ul>
    <ul *ngIf="filter.value.length > 2" class="list-group">
      <li
        *ngFor="let order of filteredOrders"
        class="list-group-item d-flex justify-content-between"
      >
        {{ order.flavor }}
        <button type="button" (click)="delete(order)">Cancel Order</button>
      </li>
    </ul>
  </div>
  <a class="btn btn-primary" routerLink="/order">Order another pizza</a>
</div>
